.project-row {
  margin-left: -40px !important;
  margin-right: -40px !important;
}

.project-card-container {
  padding: 40px !important;

  > .project-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .thumbnail-container {
      height: 333px;
      overflow: hidden;
      position: relative;

      > img, video {
        object-fit: cover;
        min-height: 100%;
        width:100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      > video {
        visibility: hidden;
      }
    }

    > .info {
      padding: 20px;
      line-height: 150%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex:1;
    }

    .title {
      font-weight: bold;
    }
  }
}
