@import 'mixins';

@include font-face(Multicolore, '../fonts/Multicolore');
// @include font-face(SourceSansPro, '../fonts/SourceSansPro-Regular');
@include font-face(Lato, '../fonts/Lato-Light');

/*
 * Text font settings
*/
h1, h2, h3 {
  font-family: Multicolore !important;
}

body {
  font-family: Lato !important;
  color: #333 !important;
}

p {
  font-size: 1.2em;
}

.top-padding-lg {
  padding-top: 200px;
}

.top-padding-md {
  padding-top: 100px;
}

.top-padding-sm {
  padding-top: 50px;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;

  a, div {
    display: flex;
    align-items: center;
    padding-right: 20px;
    
    > p {
      margin: 0px;
      padding-left: 3px;
    }
  }
}

.popup {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.popup:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
